
*.DS_Store

__MACOSX/

*.xcworkspacedata

*.xcscheme

*.xcbkptlist

DiscPublishing/Libs/*

*.xcuserstate

*/build/*

*OsiriX Plugin Generator.app*

PDF to DICOM/PDFToDicom.xcodeproj/xcuserdata/admin.xcuserdatad/xcschemes/xcschememanagement.plist

Reporter/Reporter.xcodeproj/xcuserdata/admin.xcuserdatad/xcschemes/xcschememanagement.plist

HL7toDICOMPDF/HL7toDICOMPDF.xcodeproj/xcuserdata/admin.xcuserdatad/xcschemes/xcschememanagement.plist

HL7toDICOMPDF/HL7toDICOMPDF.xcodeproj/xcuserdata/antoinerosset.xcuserdatad/xcschemes/xcschememanagement.plist

Worklists/Worklists.xcodeproj/xcuserdata/admin.xcuserdatad/xcschemes/xcschememanagement.plist

CalciumScore/CalciumScore.xcodeproj/xcuserdata/admin.xcuserdatad/xcschemes/xcschememanagement.plist

BullsEye/BullsEye.xcodeproj/xcuserdata/bd.xcuserdatad/xcschemes/xcschememanagement.plist

CMIV_CTA_TOOLS/CMIV_CTA_TOOLS.xcodeproj/xcuserdata/bd.xcuserdatad/xcschemes/xcschememanagement.plist

DefaultDefaults/DefaultDefaults.xcodeproj/xcuserdata/bd.xcuserdatad/xcschemes/xcschememanagement.plist

DicomUnEnhancer/DicomUnEnhancer.xcodeproj/xcuserdata/bd.xcuserdatad/xcschemes/xcschememanagement.plist

DiscPublishing/DiscPublishing.xcodeproj/xcuserdata/bd.xcuserdatad/xcschemes/xcschememanagement.plist

ExportDatabaseList/*

ExportROIs/ExportROIs.xcodeproj/xcuserdata/bd.xcuserdatad/xcschemes/xcschememanagement.plist

Fill the gaps/FillGaps.xcodeproj/xcuserdata/bd.xcuserdatad/xcschemes/xcschememanagement.plist

HSS/HSS.xcodeproj/project.xcworkspace/xcshareddata/HSS.xccheckout

HSS/HSS.xcodeproj/project.xcworkspace/xcuserdata/bd.xcuserdatad/WorkspaceSettings.xcsettings

HSS/HSS.xcodeproj/xcuserdata/bd.xcuserdatad/xcschemes/xcschememanagement.plist

HelloWorld/HelloWorld.xcodeproj/project.xcworkspace/xcshareddata/HelloWorld.xccheckout

HelloWorld/HelloWorld.xcodeproj/xcuserdata/bd.xcuserdatad/xcschemes/xcschememanagement.plist

HipArthroplastyTemplating/HipArthroplastyTemplating.xcodeproj/project.xcworkspace/xcshareddata/HipArthroplastyTemplating.xccheckout

HipArthroplastyTemplating/HipArthroplastyTemplating.xcodeproj/xcuserdata/bd.xcuserdatad/xcschemes/xcschememanagement.plist

JPEG to DICOM/JpegToDicom.xcodeproj/xcuserdata/bd.xcuserdatad/xcschemes/xcschememanagement.plist

KeyObjectSelection/KeyObjectSelection.xcodeproj/project.xcworkspace/xcshareddata/KeyObjectSelection.xccheckout

KeyObjectSelection/KeyObjectSelection.xcodeproj/project.xcworkspace/xcuserdata/bd.xcuserdatad/WorkspaceSettings.xcsettings

KeyObjectSelection/KeyObjectSelection.xcodeproj/xcuserdata/bd.xcuserdatad/xcschemes/xcschememanagement.plist

KeyObjectSelection/Sources/KeyObjectSelectionFilter-test.mm

Normalize/Normalize.xcodeproj/project.xcworkspace/xcshareddata/Normalize.xccheckout

Normalize/Normalize.xcodeproj/xcuserdata/bd.xcuserdatad/xcschemes/xcschememanagement.plist

Orthogonal Reslice/OrthogonalReslice.xcodeproj/xcuserdata/bd.xcuserdatad/xcschemes/xcschememanagement.plist

PrintingLayout/PrintingLayout.xcodeproj/project.xcworkspace/xcuserdata/bd.xcuserdatad/WorkspaceSettings.xcsettings

PrintingLayout/PrintingLayout.xcodeproj/xcuserdata/bd.xcuserdatad/xcschemes/xcschememanagement.plist

ROI Enhancement II/ROI Enhancement II.xcodeproj/xcuserdata/bd.xcuserdatad/xcschemes/xcschememanagement.plist

Reduce Series/ReduceSeries.xcodeproj/xcuserdata/bd.xcuserdatad/xcschemes/xcschememanagement.plist

Reporter/Reporter.xcodeproj/xcuserdata/bd.xcuserdatad/xcschemes/xcschememanagement.plist

Resample Data/ResampleData.xcodeproj/xcuserdata/bd.xcuserdatad/xcschemes/xcschememanagement.plist

Volume Calculator/VolumeCalculator.xcodeproj/xcuserdata/bd.xcuserdatad/xcschemes/xcschememanagement.plist

Worklists/Worklists.xcodeproj/project.xcworkspace/xcshareddata/Worklists.xccheckout

Worklists/Worklists.xcodeproj/xcuserdata/bd.xcuserdatad/xcschemes/xcschememanagement.plist

Zombies/Zombies.xcodeproj/xcuserdata/bd.xcuserdatad/xcschemes/xcschememanagement.plist
DiscPublishing.xccheckout
xcschememanagement.plist
ExportROIs.xccheckout
