*.DS_Store
__MACOSX/

*.xcworkspacedata

*.xcuserstate

*.xcscheme

CMIV_CTA_TOOLS/CMIV_CTA_TOOLS.xcodeproj/xcuserdata/antoinerosset.xcuserdatad/xcschemes/xcschememanagement.plist

DefaultDefaults/DefaultDefaults.xcodeproj/xcuserdata/antoinerosset.xcuserdatad/xcschemes/xcschememanagement.plist

*.xcbkptlist

HelloWorld/HelloWorld.xcodeproj/xcuserdata/antoinerosset.xcuserdatad/xcschemes/xcschememanagement.plist

OSIDemoPlugin/OSIDemoPlugin.xcodeproj/xcuserdata/antoinerosset.xcuserdatad/xcschemes/xcschememanagement.plist
