
*.DS_Store

__MACOSX/

*.xcworkspacedata

*.xcscheme

*.xcbkptlist

DiscPublishing/Libs/*

*.xcuserstate

SandBox/build/*
PDF to DICOM/PDFToDicom.xcodeproj/xcuserdata/admin.xcuserdatad/xcschemes/xcschememanagement.plist

Reporter/Reporter.xcodeproj/xcuserdata/admin.xcuserdatad/xcschemes/xcschememanagement.plist

HL7toDICOMPDF/HL7toDICOMPDF.xcodeproj/xcuserdata/admin.xcuserdatad/xcschemes/xcschememanagement.plist

HL7toDICOMPDF/HL7toDICOMPDF.xcodeproj/xcuserdata/antoinerosset.xcuserdatad/xcschemes/xcschememanagement.plist
