<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Ejection Fraction</string>
	<key>ToolbarIcon</key>
	<string>Icon</string>
	<key>allowToolbarIcon</key>
	<string>YES</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>NSPrincipalClass</key>
	<string>EjectionFractionPlugin</string>
	<key>MenuTitles</key>
	<array>
		<string>Ejection Fraction</string>
	</array>
	<key>pluginType</key>
	<string>roiTool</string>
	<key>CFBundleName</key>
	<string>Ejection Fraction</string>
	<key>CFBundleShortVersionString</key>
	<string>2.6</string>
	<key>NSHumanReadableCopyright</key>
	<string>© 2009-2016 OsiriX Team</string>
	<key>CFBundleIdentifier</key>
	<string>com.osirix.ejectionfraction</string>
</dict>
</plist>
