<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Medacta International/AMIStem LAT/0</key>
	<data>4lJyPoDioD5Nvqs+abPwPg==</data>
	<key>Medacta International/AMIStem LAT/1</key>
	<data>XSttPoC1oj7R5bA+bP/3Pg==</data>
	<key>Medacta International/AMIStem LAT/2</key>
	<data>sLtpPn88nT5WDbY+bXj9Pg==</data>
	<key>Medacta International/AMIStem LAT/3</key>
	<data>PTJ5Ps/bjz7aNLs+YhQCPw==</data>
	<key>Medacta International/AMIStem LAT/4</key>
	<data>TI1YPn88nT5eXMA+jmwFPw==</data>
	<key>Medacta International/AMIStem LAT/5</key>
	<data>jpyCPs/bjz73p8Q+usQIPw==</data>
	<key>Medacta International/AMIStem LAT/6</key>
	<data>Qz5OPs/bjz57z8k+5RwMPw==</data>
	<key>Medacta International/AMIStem LAT/7</key>
	<data>ZDdCPs5iij4A984+PCcPPw==</data>
	<key>Medacta International/AMIStem LAT/8</key>
	<data>I0VaPs5iij6tZtI+Pc0SPw==</data>
	<key>Medacta International/AMIStem STD/0</key>
	<data>eniDPjf6xT5ut58+ayz2Pg==</data>
	<key>Medacta International/AMIStem STD/1</key>
	<data>wVl+PjGPtT4HA6Q+w9z8Pg==</data>
	<key>Medacta International/AMIStem STD/2</key>
	<data>zAiAPtrerj6LKqk+t3gBPw==</data>
	<key>Medacta International/AMIStem STD/3</key>
	<data>j8J1PoMBqj4kdq0+49AEPw==</data>
	<key>Medacta International/AMIStem STD/4</key>
	<data>uAp0Pi5wrD69wbE+DykIPw==</data>
	<key>Medacta International/AMIStem STD/5</key>
	<data>4lJyPn2WmT5WDbY+EM8LPw==</data>
	<key>Medacta International/AMIStem STD/6</key>
	<data>4lJyPn2WmT7uWLo+PCcPPw==</data>
	<key>Medacta International/AMIStem STD/7</key>
	<data>C5twPtCukT6HpL4+kjESPw==</data>
	<key>Medacta International/AMIStem STD/8</key>
	<data>fiRhPn5pmz4g8MI+k9cVPw==</data>
	<key>Medacta International/AMIStem STD/9</key>
	<data>C5twPtCukT6lF8g+6uEYPw==</data>
	<key>Medacta International/QUADRA Stem LAT/1</key>
	<data>rVLBPtkLrT5Nvqs+kjESPw==</data>
	<key>Medacta International/QUADRA Stem LAT/2</key>
	<data>GI2nPi5wrD7mCbA+vokVPw==</data>
	<key>Medacta International/QUADRA Stem LAT/3</key>
	<data>QdWlPoGIpD6TebM+vy8ZPw==</data>
	<key>Medacta International/QUADRA Stem LAT/4</key>
	<data>ah2kPtSgnD5B6bY+FTocPw==</data>
	<key>Medacta International/QUADRA Stem LAT/5</key>
	<data>f0GjPia5lD4Dfbk+QZIfPw==</data>
	<key>Medacta International/QUADRA Stem LAT/6</key>
	<data>qImhPnnRjD7FELw+QjgjPw==</data>
	<key>Medacta International/QUADRA Stem LAT/7</key>
	<data>0tGfPiFOhD5zgL8+RN4mPw==</data>
	<key>Medacta International/QUADRA Stem Revision/0</key>
	<data>15q/Pj2qfT5Eb6E+ca8vPw==</data>
	<key>Medacta International/QUADRA Stem Revision/1</key>
	<data>AOO9PivwRj7JlqY+HR4yPw==</data>
	<key>Medacta International/QUADRA Stem Revision/2</key>
	<data>hArDPogLXj77La8+dM44Pw==</data>
	<key>Medacta International/QUADRA Stem Revision/3</key>
	<data>EYHSPtZeST69wbE+dM44Pw==</data>
	<key>Medacta International/QUADRA Stem Revision/4</key>
	<data>f0GjPn01PT5WDbY+IRA9Pw==</data>
	<key>Medacta International/QUADRA Stem Revision/5</key>
	<data>EYHSPilKQz7uWLo+op9BPw==</data>
	<key>Medacta International/QUADRA Stem Revision/6</key>
	<data>hArDPiZYOD5zgL8+JdVJPw==</data>
	<key>Medacta International/QUADRA Stem Revision/7</key>
	<data>AOO9PtAgNz73p8Q+pb5KPw==</data>
	<key>Medacta International/QUADRA Stem Revision/8</key>
	<data>95OzPtAgNz6lF8g+/JtPPw==</data>
	<key>Medacta International/QUADRA Stem Revision/9</key>
	<data>zku1PnrpNT7r0s8+049TPw==</data>
	<key>Medacta International/QUADRA Stem short neck LAT/1</key>
	<data>rVLBPtInlz5Eb6E+kLgMPw==</data>
	<key>Medacta International/QUADRA Stem short neck LAT/2</key>
	<data>wnbAPtCukT7y3qQ+vBAQPw==</data>
	<key>Medacta International/QUADRA Stem short neck LAT/3</key>
	<data>W8LEPiUTkT6LKqk+vbYTPw==</data>
	<key>Medacta International/QUADRA Stem Short neck STD/0</key>
	<data>mS7CPtRznj63+JE+DykIPw==</data>
	<key>Medacta International/QUADRA Stem Short neck STD/00</key>
	<data>T+3PPtPNmj4KiY4+49AEPw==</data>
	<key>Medacta International/QUADRA Stem Short neck STD/1</key>
	<data>mS7CPi5wrD5laJU+5RwMPw==</data>
	<key>Medacta International/QUADRA Stem Short neck STD/2</key>
	<data>15q/Pn8Pnz4T2Jg+58IPPw==</data>
	<key>Medacta International/QUADRA Stem Short neck STD/3</key>
	<data>AOO9Ps5iij7AR5w+EhsTPw==</data>
	<key>Medacta International/QUADRA Stem STD/0</key>
	<data>8IfePuHCxD7Va5s+kYsOPw==</data>
	<key>Medacta International/QUADRA Stem STD/1</key>
	<data>GtDcPok/vD6C254+Pc0SPw==</data>
	<key>Medacta International/QUADRA Stem STD/10</key>
	<data>ZBHPPoQZUz5KOME+oCY8Pw==</data>
	<key>Medacta International/QUADRA Stem STD/2</key>
	<data>QxjbPtxXtD4wS6I+FMEWPw==</data>
	<key>Medacta International/QUADRA Stem STD/3</key>
	<data>bGDZPi5wrD7duqU+6rQaPw==</data>
	<key>Medacta International/QUADRA Stem STD/4</key>
	<data>lajXPtbsoz6LKqk+lvYePw==</data>
	<key>Medacta International/QUADRA Stem STD/5</key>
	<data>v/DVPikFnD5Nvqs+beoiPw==</data>
	<key>Medacta International/QUADRA Stem STD/6</key>
	<data>6DjUPnwdlD77La8+RN4mPw==</data>
	<key>Medacta International/QUADRA Stem STD/7</key>
	<data>/FzTPs41jD69wbE+GtIqPw==</data>
	<key>Medacta International/QUADRA Stem STD/8</key>
	<data>JqXRPo/vcz7FELw+HfEzPw==</data>
	<key>Medacta International/QUADRA Stem STD/9</key>
	<data>OsnQPjQgZD6HpL4+9OQ3Pw==</data>
	<key>Medacta International/QUADRA Stem/0</key>
	<data>8IfePuHCxD7pj5o+kYsOPw==</data>
	<key>Medacta International/QUADRA Stem/1</key>
	<data>GtDcPok/vD6X/50+Pc0SPw==</data>
	<key>Medacta International/QUADRA Stem/10</key>
	<data>ZBHPPtpQVD5KOME+y9g7Pw==</data>
	<key>Medacta International/QUADRA Stem/2</key>
	<data>QxjbPtxXtD5Eb6E+FMEWPw==</data>
	<key>Medacta International/QUADRA Stem/3</key>
	<data>bGDZPi5wrD7y3qQ+6rQaPw==</data>
	<key>Medacta International/QUADRA Stem/4</key>
	<data>lajXPoGIpD6fTqg+wagePw==</data>
	<key>Medacta International/QUADRA Stem/5</key>
	<data>v/DVPikFnD5Nvqs+beoiPw==</data>
	<key>Medacta International/QUADRA Stem/6</key>
	<data>6DjUPnwdlD77La8+RN4mPw==</data>
	<key>Medacta International/QUADRA Stem/7</key>
	<data>EYHSPs41jD69wbE+GtIqPw==</data>
	<key>Medacta International/QUADRA Stem/8</key>
	<data>JqXRPo/vcz7aNLs+HfEzPw==</data>
	<key>Medacta International/QUADRA Stem/9</key>
	<data>T+3PPjQgZD6HpL4+9OQ3Pw==</data>
	<key>Medacta International/QUADRA Stem/AMIStem STD 0</key>
	<data>eniDPjf6xT5ut58+ayz2Pg==</data>
	<key>Medacta International/QUADRA Stem/AMIStem STD 1</key>
	<data>wVl+PjGPtT4bJ6M+w9z8Pg==</data>
	<key>Medacta International/QUADRA Stem/AMIStem STD 2</key>
	<data>zAiAPtrerj6LKqk+t3gBPw==</data>
	<key>Medacta International/QUADRA Stem/AMIStem STD 3</key>
	<data>uAp0Pi6dqj4kdq0+DoMEPw==</data>
	<key>Medacta International/QUADRA Stem/AMIStem STD 4</key>
	<data>4lJyPi5wrD69wbE+OdsHPw==</data>
	<key>Medacta International/QUADRA Stem/AMIStem STD 5</key>
	<data>4lJyPn2WmT5WDbY+O4ELPw==</data>
	<key>Medacta International/QUADRA Stem/AMIStem STD 6</key>
	<data>C5twPn2WmT7aNLs+PCcPPw==</data>
	<key>Medacta International/QUADRA Stem/AMIStem STD 7</key>
	<data>C5twPtCukT6HpL4+veMRPw==</data>
	<key>Medacta International/QUADRA Stem/AMIStem STD 8</key>
	<data>p2xfPn5pmz4MzMM+vokVPw==</data>
	<key>Medacta International/QUADRA Stem/AMIStem STD 9</key>
	<data>C5twPtCukT65O8c+6uEYPw==</data>
	<key>Medacta International/QUADRA Stem/LAT.1</key>
	<data>wnbAPoSnrT44mqw+veMRPw==</data>
	<key>Medacta International/QUADRA Stem/LAT.2</key>
	<data>GI2nPi5wrD7mCbA+vokVPw==</data>
	<key>Medacta International/QUADRA Stem/LAT.3</key>
	<data>QdWlPoGIpD6TebM+vy8ZPw==</data>
	<key>Medacta International/QUADRA Stem/LAT.4</key>
	<data>ah2kPtSgnD5WDbY+FTocPw==</data>
	<key>Medacta International/VersafitCup Shell/46</key>
	<data>42+0PqbpAj/Q3H8+xBc7Pg==</data>
	<key>Medacta International/VersafitCup Shell/48</key>
	<data>42+0PikfCz8/poE+G/U/Pg==</data>
	<key>Medacta International/VersafitCup Shell/50</key>
	<data>nLSsPqhiCD9cGYs+ylVNPg==</data>
	<key>Medacta International/VersafitCup Shell/52</key>
	<data>SiSwPtS6Cz8KiY4+II1OPg==</data>
	<key>Medacta International/VersafitCup Shell/54</key>
	<data>iJCtPihMCT8frY0+dcRPPg==</data>
	<key>Medacta International/VersafitCup Shell/56</key>
	<data>xfyqPn2wCD+3+JE+eBBXPg==</data>
	<key>Medacta International/VersafitCup Shell/58</key>
	<data>A2moPn2wCD96jJQ+I39ZPg==</data>
	<key>Medacta International/VersafitCup Shell/60</key>
	<data>LbGmPlIrBz/+s5k+0TljPg==</data>
	<key>Medacta International/VersafitCup Shell/62</key>
	<data>qImhPv3GBz+C254+0t9mPg==</data>
	<key>Medacta International/VersafitCup Shell/64</key>
	<data>qImhPtJBBj8wS6I+1StuPg==</data>
</dict>
</plist>
