<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Medacta International/AMIStem LAT/0</key>
	<data>4lJyPoDioD5Nvqs+abPwPg==</data>
	<key>Medacta International/AMIStem LAT/1</key>
	<data>XSttPoC1oj7R5bA+bP/3Pg==</data>
	<key>Medacta International/AMIStem LAT/2</key>
	<data>sLtpPn88nT5WDbY+bXj9Pg==</data>
	<key>Medacta International/AMIStem LAT/3</key>
	<data>PTJ5Ps/bjz7aNLs+YhQCPw==</data>
	<key>Medacta International/AMIStem LAT/4</key>
	<data>TI1YPn88nT5eXMA+jmwFPw==</data>
	<key>Medacta International/AMIStem LAT/5</key>
	<data>jpyCPs/bjz73p8Q+usQIPw==</data>
	<key>Medacta International/AMIStem LAT/6</key>
	<data>Qz5OPs/bjz57z8k+5RwMPw==</data>
	<key>Medacta International/AMIStem LAT/7</key>
	<data>ZDdCPs5iij4A984+PCcPPw==</data>
	<key>Medacta International/AMIStem LAT/8</key>
	<data>I0VaPs5iij6tZtI+Pc0SPw==</data>
	<key>Medacta International/AMIStem STD/00</key>
	<data>iY+EPuQOzD7gYp0+vhfwPg==</data>
	<key>Medacta International/AMIStem STD/0</key>
	<data>eniDPjf6xT5ut58+ayz2Pg==</data>
	<key>Medacta International/AMIStem STD/1</key>
	<data>wVl+PjGPtT4HA6Q+w9z8Pg==</data>
	<key>Medacta International/AMIStem STD/2</key>
	<data>zAiAPtrerj6LKqk+t3gBPw==</data>
	<key>Medacta International/AMIStem STD/3</key>
	<data>j8J1PoMBqj4kdq0+49AEPw==</data>
	<key>Medacta International/AMIStem STD/4</key>
	<data>uAp0Pi5wrD69wbE+DykIPw==</data>
	<key>Medacta International/AMIStem STD/5</key>
	<data>4lJyPn2WmT5WDbY+EM8LPw==</data>
	<key>Medacta International/AMIStem STD/6</key>
	<data>4lJyPn2WmT7uWLo+PCcPPw==</data>
	<key>Medacta International/AMIStem STD/7</key>
	<data>C5twPtCukT6HpL4+kjESPw==</data>
	<key>Medacta International/AMIStem STD/8</key>
	<data>fiRhPn5pmz4g8MI+k9cVPw==</data>
	<key>Medacta International/AMIStem STD/9</key>
	<data>C5twPtCukT6lF8g+6uEYPw==</data>
	<key>Medacta International/AMIStem H Collared LAT/0</key>
	<data>UWoJE1eBzj/vMnrgTxzUPyIf55HJd9U/z9sPBG0W3j8=</data>
	<key>Medacta International/AMIStem H Collared LAT/1</key>
	<data>6rWNOlxKzj8HWMFPJWrUP72toNZBytU/Re9vPo3F3j8=</data>
	<key>Medacta International/AMIStem H Collared LAT/2</key>
	<data>5i8jAHY3zT+RRGEVBbvTP41ZzaSqwdY/AMyh1CKI3z8=</data>
	<key>Medacta International/AMIStem H Collared LAT/3</key>
	<data>7jv4dEJdzz+P+Fkx7w7SP8J2QC6bZtc/o507kdE44D8=</data>
	<key>Medacta International/AMIStem H Collared LAT/4</key>
	<data>RtjJY6RIyz+RRGEVBbvTP8S5dUsO8Nc/pHA9Ctej4D8=</data>
	<key>Medacta International/AMIStem H Collared LAT/5</key>
	<data>LDvvw5FT0D+P+Fkx7w7SP/nW6NT+lNg/pUM/g9wO4T8=</data>
	<key>Medacta International/AMIStem H Collared LAT/6</key>
	<data>3J3jUMP+yT9JL4jVefvRP/sZHvJxHtk/SPspqpyD4T8=</data>
	<key>Medacta International/AMIStem H Collared LAT/7</key>
	<data>Cq+BZed9yD/TGyibWUzRPzA3kXtiw9k/pulCdefk4T8=</data>
	<key>Medacta International/AMIStem H Collared LAT/8</key>
	<data>roxFPJ9/yz8Z5fn2zl/RP/6fiCxYMdo/p7xE7uxP4j8=</data>
	<key>Medacta International/AMIStem H Collared STD/00</key>
	<data>Ln4k4QTd0D9UBalX3IHZP0/tT4l6bdM/Q0lsTILv3T8=</data>
	<key>Medacta International/AMIStem H Collared STD/0</key>
	<data>+qPmdIfB0D/e8UgdvNLYP7ahy2F1pNM/c5P6Ki2L3j8=</data>
	<key>Medacta International/AMIStem H Collared STD/1</key>
	<data>vKTvJTjLzz847lYS5rHWP1JzusNggNQ/RpVzMJib3z8=</data>
	<key>Medacta International/AMIStem H Collared STD/2</key>
	<data>xYZz65Yc0D99ESV8UO/VP1S27+DTCdU/XdRpNVwl4D8=</data>
	<key>Medacta International/AMIStem H Collared STD/3</key>
	<data>uB6F61G4zj9Ox5adpVPVP4nTYmrErtU/XqdrrmGQ4D8=</data>
	<key>Medacta International/AMIStem H Collared STD/4</key>
	<data>UWoJE1eBzj8fIwyxBY7VP4sWmIc3ONY/X3ptJ2f74D8=</data>
	<key>Medacta International/AMIStem H Collared STD/5</key>
	<data>UWoJE1eBzj/ujHbuREbTP41ZzaSqwdY/X01voGxm4T8=</data>
	<key>Medacta International/AMIStem H Collared STD/6</key>
	<data>6rWNOlxKzj/ujHbuREbTP46cAsIdS9c/YCBxGXLR4T8=</data>
	<key>Medacta International/AMIStem H Collared STD/7</key>
	<data>gwESYmETzj8bi/3o2TXSP8S5dUsO8Nc/YfNyknc84j8=</data>
	<key>Medacta International/AMIStem H Collared STD/8</key>
	<data>46m4xY8kzD+/6OsBpYDTP5IibfwDXtg/YcZ0C32n4j8=</data>
	<key>Medacta International/AMIStem H Collared STD/9</key>
	<data>6rWNOlxKzj9gVM9ET0nSP5Nlohl359g/Ypl2hIIS4z8=</data>
	<key>Medacta International/Mpact/46</key>
	<data>ptC03X5y1j/fN3NLyh/hP+FS8qLxVMw/HnSiPWLNxD8=</data>
	<key>Medacta International/Mpact/48</key>
	<data>C0L7mAYg1j9Tpc+T3/jgP7NBVI7N1c0/8XUbQ83dxT8=</data>
	<key>Medacta International/Mpact/50</key>
	<data>cLNBVI7N1T8N3P03auXgPx18OqGuH88/rFJN2WKgxj8=</data>
	<key>Medacta International/Mpact/52</key>
	<data>1iSIDxZ71T8kLkMuOsjgPxGB0m1KGdA/9MEiJ+OJxz8=</data>
	<key>Medacta International/Mpact/54</key>
	<data>okpKo5hf1T87gIgkCqvgP9/pyR5Ah9A/r55UvXhMyD8=</data>
	<key>Medacta International/Mpact/56</key>
	<data>CLyQXiAN1T/1trbIlJfgP+Es/zuzENE/anuGUw4PyT8=</data>
	<key>Medacta International/Mpact/58</key>
	<data>bS3XGai61D+v7eRsH4TgP+NvNFkmmtE/msUUMrmqyT8=</data>
	<key>Medacta International/Mpact/60</key>
	<data>0p4d1S9o1D9pJBMRqnDgP+SyaXaZI9I/VaJGyE5tyj8=</data>
	<key>Medacta International/Mpact/62</key>
	<data>OBBkkLcV1D8kW0G1NF3gP+b1npMMrdI/EH94XuQvyz8=</data>
	<key>Medacta International/Mpact/64</key>
	<data>nYGqSz/D0z8kW0G1NF3gP4GEWNiE/9I/tDZjhaSkyz8=</data>
	<key>Medacta International/Mpact/66</key>
	<data>Ns0uc0SM0z+YyJ39STbgP7ahy2F1pNM/+6U40ySOzD8=</data>
	<key>Medacta International/Mpact/68</key>
	<data>mz51Lsw50z9S/8uh1CLgP7jkAH/oLdQ/toJqabpQzT8=</data>
	<key>Medacta International/Mpact/70</key>
	<data>AbC76VPn0j8MNvpFXw/gP7knNpxbt9Q/cl+c/08Tzj8=</data>
	<key>Medacta International/Mpact/72</key>
	<data>ZiECpduU0j+M2VDU0/ffP7tqa7nOQNU/LTzOleXVzj8=</data>
	<key>Medacta International/Mpact/74</key>
	<data>zJJIYGNC0j8AR60c6dDfP72toNZBytU/6BgALHuYzz8=</data>
	<key>Medacta International/Mpact/76</key>
	<data>MQSPG+vv0T90tAll/qnfP77w1fO0U9Y/0voYYYgt0D8=</data>
	<key>Medacta International/QUADRA Stem LAT/1</key>
	<data>rVLBPtkLrT5Nvqs+kjESPw==</data>
	<key>Medacta International/QUADRA Stem LAT/2</key>
	<data>GI2nPi5wrD7mCbA+vokVPw==</data>
	<key>Medacta International/QUADRA Stem LAT/3</key>
	<data>QdWlPoGIpD6TebM+vy8ZPw==</data>
	<key>Medacta International/QUADRA Stem LAT/4</key>
	<data>ah2kPtSgnD5B6bY+FTocPw==</data>
	<key>Medacta International/QUADRA Stem LAT/5</key>
	<data>f0GjPia5lD4Dfbk+QZIfPw==</data>
	<key>Medacta International/QUADRA Stem LAT/6</key>
	<data>qImhPnnRjD7FELw+QjgjPw==</data>
	<key>Medacta International/QUADRA Stem LAT/7</key>
	<data>0tGfPiFOhD5zgL8+RN4mPw==</data>
	<key>Medacta International/QUADRA Stem Revision/0</key>
	<data>15q/Pj2qfT5Eb6E+ca8vPw==</data>
	<key>Medacta International/QUADRA Stem Revision/1</key>
	<data>AOO9PivwRj7JlqY+HR4yPw==</data>
	<key>Medacta International/QUADRA Stem Revision/2</key>
	<data>hArDPogLXj77La8+dM44Pw==</data>
	<key>Medacta International/QUADRA Stem Revision/3</key>
	<data>EYHSPtZeST69wbE+dM44Pw==</data>
	<key>Medacta International/QUADRA Stem Revision/4</key>
	<data>f0GjPn01PT5WDbY+IRA9Pw==</data>
	<key>Medacta International/QUADRA Stem Revision/5</key>
	<data>EYHSPilKQz7uWLo+op9BPw==</data>
	<key>Medacta International/QUADRA Stem Revision/6</key>
	<data>hArDPiZYOD5zgL8+JdVJPw==</data>
	<key>Medacta International/QUADRA Stem Revision/7</key>
	<data>AOO9PtAgNz73p8Q+pb5KPw==</data>
	<key>Medacta International/QUADRA Stem Revision/8</key>
	<data>95OzPtAgNz6lF8g+/JtPPw==</data>
	<key>Medacta International/QUADRA Stem Revision/9</key>
	<data>zku1PnrpNT7r0s8+049TPw==</data>
	<key>Medacta International/QUADRA Stem short neck LAT/1</key>
	<data>rVLBPtInlz5Eb6E+kLgMPw==</data>
	<key>Medacta International/QUADRA Stem short neck LAT/2</key>
	<data>wnbAPtCukT7y3qQ+vBAQPw==</data>
	<key>Medacta International/QUADRA Stem short neck LAT/3</key>
	<data>W8LEPiUTkT6LKqk+vbYTPw==</data>
	<key>Medacta International/QUADRA Stem Short neck STD/0</key>
	<data>mS7CPtRznj63+JE+DykIPw==</data>
	<key>Medacta International/QUADRA Stem Short neck STD/00</key>
	<data>T+3PPtPNmj4KiY4+49AEPw==</data>
	<key>Medacta International/QUADRA Stem Short neck STD/1</key>
	<data>mS7CPi5wrD5laJU+5RwMPw==</data>
	<key>Medacta International/QUADRA Stem Short neck STD/2</key>
	<data>15q/Pn8Pnz4T2Jg+58IPPw==</data>
	<key>Medacta International/QUADRA Stem Short neck STD/3</key>
	<data>AOO9Ps5iij7AR5w+EhsTPw==</data>
	<key>Medacta International/QUADRA Stem STD/0</key>
	<data>8IfePuHCxD7Va5s+kYsOPw==</data>
	<key>Medacta International/QUADRA Stem STD/1</key>
	<data>GtDcPok/vD6C254+Pc0SPw==</data>
	<key>Medacta International/QUADRA Stem STD/10</key>
	<data>ZBHPPoQZUz5KOME+oCY8Pw==</data>
	<key>Medacta International/QUADRA Stem STD/2</key>
	<data>QxjbPtxXtD4wS6I+FMEWPw==</data>
	<key>Medacta International/QUADRA Stem STD/3</key>
	<data>bGDZPi5wrD7duqU+6rQaPw==</data>
	<key>Medacta International/QUADRA Stem STD/4</key>
	<data>lajXPtbsoz6LKqk+lvYePw==</data>
	<key>Medacta International/QUADRA Stem STD/5</key>
	<data>v/DVPikFnD5Nvqs+beoiPw==</data>
	<key>Medacta International/QUADRA Stem STD/6</key>
	<data>6DjUPnwdlD77La8+RN4mPw==</data>
	<key>Medacta International/QUADRA Stem STD/7</key>
	<data>/FzTPs41jD69wbE+GtIqPw==</data>
	<key>Medacta International/QUADRA Stem STD/8</key>
	<data>JqXRPo/vcz7FELw+HfEzPw==</data>
	<key>Medacta International/QUADRA Stem STD/9</key>
	<data>OsnQPjQgZD6HpL4+9OQ3Pw==</data>
	<key>Medacta International/QUADRA Stem/0</key>
	<data>8IfePuHCxD7pj5o+kYsOPw==</data>
	<key>Medacta International/QUADRA Stem/1</key>
	<data>GtDcPok/vD6X/50+Pc0SPw==</data>
	<key>Medacta International/QUADRA Stem/10</key>
	<data>ZBHPPtpQVD5KOME+y9g7Pw==</data>
	<key>Medacta International/QUADRA Stem/2</key>
	<data>QxjbPtxXtD5Eb6E+FMEWPw==</data>
	<key>Medacta International/QUADRA Stem/3</key>
	<data>bGDZPi5wrD7y3qQ+6rQaPw==</data>
	<key>Medacta International/QUADRA Stem/4</key>
	<data>lajXPoGIpD6fTqg+wagePw==</data>
	<key>Medacta International/QUADRA Stem/5</key>
	<data>v/DVPikFnD5Nvqs+beoiPw==</data>
	<key>Medacta International/QUADRA Stem/6</key>
	<data>6DjUPnwdlD77La8+RN4mPw==</data>
	<key>Medacta International/QUADRA Stem/7</key>
	<data>EYHSPs41jD69wbE+GtIqPw==</data>
	<key>Medacta International/QUADRA Stem/8</key>
	<data>JqXRPo/vcz7aNLs+HfEzPw==</data>
	<key>Medacta International/QUADRA Stem/9</key>
	<data>T+3PPjQgZD6HpL4+9OQ3Pw==</data>
	<key>Medacta International/QUADRA Stem/AMIStem STD 0</key>
	<data>eniDPjf6xT5ut58+ayz2Pg==</data>
	<key>Medacta International/QUADRA Stem/AMIStem STD 1</key>
	<data>wVl+PjGPtT4bJ6M+w9z8Pg==</data>
	<key>Medacta International/QUADRA Stem/AMIStem STD 2</key>
	<data>zAiAPtrerj6LKqk+t3gBPw==</data>
	<key>Medacta International/QUADRA Stem/AMIStem STD 3</key>
	<data>uAp0Pi6dqj4kdq0+DoMEPw==</data>
	<key>Medacta International/QUADRA Stem/AMIStem STD 4</key>
	<data>4lJyPi5wrD69wbE+OdsHPw==</data>
	<key>Medacta International/QUADRA Stem/AMIStem STD 5</key>
	<data>4lJyPn2WmT5WDbY+O4ELPw==</data>
	<key>Medacta International/QUADRA Stem/AMIStem STD 6</key>
	<data>C5twPn2WmT7aNLs+PCcPPw==</data>
	<key>Medacta International/QUADRA Stem/AMIStem STD 7</key>
	<data>C5twPtCukT6HpL4+veMRPw==</data>
	<key>Medacta International/QUADRA Stem/AMIStem STD 8</key>
	<data>p2xfPn5pmz4MzMM+vokVPw==</data>
	<key>Medacta International/QUADRA Stem/AMIStem STD 9</key>
	<data>C5twPtCukT65O8c+6uEYPw==</data>
	<key>Medacta International/QUADRA Stem/LAT.1</key>
	<data>wnbAPoSnrT44mqw+veMRPw==</data>
	<key>Medacta International/QUADRA Stem/LAT.2</key>
	<data>GI2nPi5wrD7mCbA+vokVPw==</data>
	<key>Medacta International/QUADRA Stem/LAT.3</key>
	<data>QdWlPoGIpD6TebM+vy8ZPw==</data>
	<key>Medacta International/QUADRA Stem/LAT.4</key>
	<data>ah2kPtSgnD5WDbY+FTocPw==</data>
	<key>Medacta International/VersafitCup Shell/46</key>
	<data>42+0PqbpAj/Q3H8+xBc7Pg==</data>
	<key>Medacta International/VersafitCup Shell/48</key>
	<data>42+0PikfCz8/poE+G/U/Pg==</data>
	<key>Medacta International/VersafitCup Shell/50</key>
	<data>nLSsPqhiCD9cGYs+ylVNPg==</data>
	<key>Medacta International/VersafitCup Shell/52</key>
	<data>SiSwPtS6Cz8KiY4+II1OPg==</data>
	<key>Medacta International/VersafitCup Shell/54</key>
	<data>iJCtPihMCT8frY0+dcRPPg==</data>
	<key>Medacta International/VersafitCup Shell/56</key>
	<data>xfyqPn2wCD+3+JE+eBBXPg==</data>
	<key>Medacta International/VersafitCup Shell/58</key>
	<data>A2moPn2wCD96jJQ+I39ZPg==</data>
	<key>Medacta International/VersafitCup Shell/60</key>
	<data>LbGmPlIrBz/+s5k+0TljPg==</data>
	<key>Medacta International/VersafitCup Shell/62</key>
	<data>qImhPv3GBz+C254+0t9mPg==</data>
	<key>Medacta International/VersafitCup Shell/64</key>
	<data>qImhPtJBBj8wS6I+1StuPg==</data>
	<key>Medacta International SA/miniMAX/8R/Lateral</key>
	<data>5X2XPtFUlT7qXi8+7FoePw==</data>
	<key>Medacta International SA/miniMAX/4L</key>
	<data>fzyfPou4wT4STPQ+jZkDPw==</data>
	<key>Medacta International SA/miniMAX/1R</key>
	<data>02uFPj+x3T6wV9s+uyXlPg==</data>
	<key>Medacta International SA/miniMAX/8R</key>
	<data>MNFfPiPHiT46oAY/wyEkPw==</data>
	<key>Medacta International SA/miniMAX/0L/Lateral</key>
	<data>ybkPP5c05j4WHRI+C/LVPg==</data>
	<key>Medacta International SA/miniMAX/6L</key>
	<data>1SSsPoSnrT5+k/I+5UkKPw==</data>
	<key>Medacta International SA/miniMAX/2L/Lateral</key>
	<data>f90OPzyS1D76txo+ayz2Pg==</data>
	<key>Medacta International SA/miniMAX/3R</key>
	<data>bSqNPjf6xT68Y+c+jZkDPw==</data>
	<key>Medacta International SA/miniMAX/1R/Lateral</key>
	<data>XdGhPu1r5z6q1RM+DWvbPg==</data>
	<key>Medacta International SA/miniMAX/3R/Lateral</key>
	<data>fzyfPjlGzT76txo+bkv/Pg==</data>
	<key>Medacta International SA/miniMAX/4L/Lateral</key>
	<data>f90OP4uLwz624R8+OGICPw==</data>
	<key>Medacta International SA/miniMAX/1L</key>
	<data>UcWVPumm2j4STPQ+FSLzPg==</data>
	<key>Medacta International SA/miniMAX/6L/Lateral</key>
	<data>Wm8OPy9Drj6afCg+Oq4JPw==</data>
	<key>Medacta International SA/miniMAX/8L</key>
	<data>E/WgPnqkjj5ZCAE/64ccPw==</data>
	<key>Medacta International SA/miniMAX/5R</key>
	<data>0JVtPjTbvD5iEQo/5u8NPw==</data>
	<key>Medacta International SA/miniMAX/3L</key>
	<data>O2akPjlGzT5me9o+Fpv4Pg==</data>
	<key>Medacta International SA/miniMAX/5R/Lateral</key>
	<data>oaecPjWBwD5KmiE+5RwMPw==</data>
	<key>Medacta International SA/miniMAX/0R</key>
	<data>iY+EPuzF4z5yh+Y+EIrkPg==</data>
	<key>Medacta International SA/miniMAX/7R</key>
	<data>q/qBPiqrnz4SLwM/QOwbPw==</data>
	<key>Medacta International SA/miniMAX/7R/Lateral</key>
	<data>eTaZPtFUlT4uNSo+bBchPw==</data>
	<key>Medacta International SA/miniMAX/8L/Lateral</key>
	<data>EJMNP3p3kD4S0DI+a54bPw==</data>
	<key>Medacta International SA/miniMAX/5L</key>
	<data>zx6mPou4wT5yh+Y+t3gBPw==</data>
	<key>Medacta International SA/miniMAX/2R</key>
	<data>m6GWPj+x3T7uJ9A+ETDoPg==</data>
	<key>Medacta International SA/miniMAX/0R/Lateral</key>
	<data>8YmjPu1r5z5a8ww+Xt3PPg==</data>
	<key>Medacta International SA/miniMAX/0L</key>
	<data>oaecPkBX4T40t/E+vMvoPg==</data>
	<key>Medacta International SA/miniMAX/1L/Lateral</key>
	<data>pEsPP5Nv2T4+jhU+EF3mPg==</data>
	<key>Medacta International SA/miniMAX/7L</key>
	<data>fzyfPihfmD4uses+P0YYPw==</data>
	<key>Medacta International SA/miniMAX/3L/Lateral</key>
	<data>Wm8OP+ThzT4iKR4+bP/3Pg==</data>
	<key>Medacta International SA/miniMAX/2R/Lateral</key>
	<data>yRigPpKc1z5m/xg+vkTuPg==</data>
	<key>Medacta International SA/miniMAX/4R</key>
	<data>5X2XPjf6xT6wV9s+4/0CPw==</data>
	<key>Medacta International SA/miniMAX/5L/Lateral</key>
	<data>f90OP992vT7eUiM+jZkDPw==</data>
	<key>Medacta International SA/miniMAX/4R/Lateral</key>
	<data>64OdPjlGzT4iKR4+w6/+Pg==</data>
	<key>Medacta International SA/miniMAX/2L</key>
	<data>De+aPjlGzT4ipd8+bXj9Pg==</data>
	<key>Medacta International SA/miniMAX/7L/Lateral</key>
	<data>NQEOP9Rznj5Wpi0+6DsVPw==</data>
	<key>Medacta International SA/miniMAX/6R</key>
	<data>Sel3Pi9Drj6j5AE/kjESPw==</data>
	<key>Medacta International SA/miniMAX/6R/Lateral</key>
	<data>De+aPoMBqj7eUiM+aFIUPw==</data>
</dict>
</plist>
