<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>DiscPublishing</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>DiscPublishing</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.3.1</string>
	<key>CFBundleIdentifier</key>
	<string>com.osirix.discpublishing</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>MenuTitles</key>
	<array>
		<string>Publish</string>
	</array>
	<key>NSHumanReadableCopyright</key>
	<string>© 2010-2012 OsiriX Team</string>
	<key>NSPrincipalClass</key>
	<string>DiscPublishing</string>
	<key>ToolbarIcon</key>
	<string>Icon</string>
	<key>allowToolbarIcon</key>
	<string>YES</string>
	<key>pluginType</key>
	<string>Database</string>
	<key>MergeFields</key>
	<array>
		<string>%DiscName%</string>
		<string>%PatientsBirthDate%</string>
		<string>%StudyDescription%</string>
		<string>%Modality%</string>
		<string>%StudyDate%</string>
		<string>%CurrentDate%</string>
	</array>
</dict>
</plist>
