<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSUIElement</key>
	<true/>
	<key>NSAppleScriptEnabled</key>
	<true/>
	<key>OSAScriptingDefinition</key>
	<string>DiscPublishingTool.sdef</string>
	<key>NSHumanReadableCopyright</key>
	<string>© 2010 OsiriX Team</string>
	<key>CFBundleName</key>
	<string>DiscPublishingTool</string>
	<key>NSMainNibFile</key>
	<string>DiscPublishingToolApplication</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleIdentifier</key>
	<string>ch.osirix.discpublishing.tool</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>TicketVersion</key>
	<string>1</string>
	<key>AllNotifications</key>
	<array>
		<string>RobotError</string>
	</array>
	<key>DefaultNotifications</key>
	<array>
		<string>RobotError</string>
	</array>
</dict>
</plist>
