<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>ROI-Enhancement</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>com.osirix.roienhancement</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.7</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>MenuTitles</key>
	<array>
		<string>ROI Enhancement</string>
	</array>
	<key>NSHumanReadableCopyright</key>
	<string>© 2009-2016 OsiriX Team</string>
	<key>NSPrincipalClass</key>
	<string>ROI_Enhancement_II</string>
	<key>pluginType</key>
	<string>roiTool</string>
</dict>
</plist>
