<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Accept all HTTPS certificates</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>HSS</string>
	<key>CFBundleIconFile</key>
	<string>HSS</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.3</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>HSS base URL</key>
	<string>https://collimage.hcuge.ch/studyshare</string>
	<key>HSS base URL - TEST</key>
	<string>https://vmlouvre.hcuge.ch/studyshare</string>
	<key>MenuTitles</key>
	<array>
		<string>Export to HSS</string>
	</array>
	<key>NSPrincipalClass</key>
	<string>HSS</string>
	<key>pluginType</key>
	<string>Database</string>
</dict>
</plist>
