<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>01@CAROT DER</key>
	<dict>
		<key>01@FRENTE</key>
		<dict>
			<key>01@PRE EMB</key>
			<dict/>
			<key>02@POST EMB</key>
			<dict/>
		</dict>
		<key>02@OAD</key>
		<dict>
			<key>01@PRE EMB</key>
			<dict/>
			<key>02@POST EMB</key>
			<dict/>
		</dict>
		<key>03@OAI</key>
		<dict>
			<key>01@PRE EMB</key>
			<dict/>
			<key>02@POST EMB</key>
			<dict/>
		</dict>
		<key>04@PERFIL</key>
		<dict>
			<key>01@PRE EMB</key>
			<dict/>
			<key>02@POST EMB</key>
			<dict/>
		</dict>
	</dict>
	<key>02@VERT DER</key>
	<dict>
		<key>01@TOWNE</key>
		<dict>
			<key>01@PRE EMB</key>
			<dict/>
			<key>02@POST EMB</key>
			<dict/>
		</dict>
		<key>02@CALDWELL</key>
		<dict>
			<key>01@PRE EMB</key>
			<dict/>
			<key>02@POST EMB</key>
			<dict/>
		</dict>
		<key>03@PERFIL</key>
		<dict>
			<key>01@PRE EMB</key>
			<dict/>
			<key>02@POST EMB</key>
			<dict/>
		</dict>
	</dict>
	<key>03@VERT IZQ</key>
	<dict>
		<key>01@TOWNE</key>
		<dict>
			<key>01@PRE EMB</key>
			<dict/>
			<key>02@POST EMB</key>
			<dict/>
		</dict>
		<key>02@CALDWELL</key>
		<dict>
			<key>01@PRE EMB</key>
			<dict/>
			<key>02@POST EMB</key>
			<dict/>
		</dict>
		<key>03@PERFIL</key>
		<dict>
			<key>01@PRE EMB</key>
			<dict/>
			<key>02@POST EMB</key>
			<dict/>
		</dict>
	</dict>
	<key>04@CAROT IZQ</key>
	<dict>
		<key>01@FRENTE</key>
		<dict>
			<key>01@PRE EMB</key>
			<dict/>
			<key>02@POST EMB</key>
			<dict/>
		</dict>
		<key>02@OAD</key>
		<dict>
			<key>01@PRE EMB</key>
			<dict/>
			<key>02@POST EMB</key>
			<dict/>
		</dict>
		<key>03@OAI</key>
		<dict>
			<key>01@PRE EMB</key>
			<dict/>
			<key>02@POST EMB</key>
			<dict/>
		</dict>
		<key>04@PERFIL</key>
		<dict>
			<key>01@PRE EMB</key>
			<dict/>
			<key>02@POST EMB</key>
			<dict/>
		</dict>
	</dict>
	<key>05@ULTRA SELECTIVA</key>
	<dict>
		<key>01@PRIMER PEDICULO</key>
		<dict>
			<key>01@PRE NBCA</key>
			<dict/>
			<key>02@POST NBCA</key>
			<dict/>
		</dict>
		<key>02@SEGUNDO PEDICULO</key>
		<dict>
			<key>01@PRE NBCA</key>
			<dict/>
			<key>02@POST NBCA</key>
			<dict/>
		</dict>
		<key>03@TERCER PEDICULO</key>
		<dict>
			<key>01@PRE NBCA</key>
			<dict/>
			<key>02@POST NBCA</key>
			<dict/>
		</dict>
		<key>04@CUARTO PEDICULO</key>
		<dict>
			<key>01@PRE NBCA</key>
			<dict/>
			<key>02@POST NBCA</key>
			<dict/>
		</dict>
		<key>05@QUINTO PEDICULO</key>
		<dict>
			<key>01@PRE NBCA</key>
			<dict/>
			<key>02@POST NBCA</key>
			<dict/>
		</dict>
		<key>06@SEXTO PEDICULO</key>
		<dict>
			<key>01@PRE NBCA</key>
			<dict/>
			<key>02@POST NBCA</key>
			<dict/>
		</dict>
	</dict>
	<key>06@?</key>
	<dict/>
	<key>07@fotofile</key>
	<dict/>
</dict>
</plist>
