<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array/>
	<array>
		<array>
			<string>%%@</string>
			<string>string</string>
			<string>imageMO</string>
			<string>valueForKeyPath:</string>
			<string>series.study.name</string>
		</array>
	</array>
	<array>
		<array>
			<string>%%Y-%%m-%%d</string>
			<string>date</string>
			<string>imageMO</string>
			<string>valueForKeyPath:</string>
			<string>series.study.dateOfBirth</string>
		</array>
		<array>
			<string> (%%@)</string>
			<string>string</string>
			<string>view</string>
			<string>yearOld</string>
			<string></string>
		</array>
	</array>
	<array>
		<array>
			<string>%%@</string>
			<string>string</string>
			<string>imageMO</string>
			<string>valueForKeyPath:</string>
			<string>series.study.patientID</string>
		</array>
	</array>
	<array>
		<array>
			<string>%%@</string>
			<string>string</string>
			<string>view</string>
			<string>patientSex</string>
			<string></string>
		</array>
	</array>
	<array/>
	<string>tiempo</string>
	<array>
		<array>
			<string>%%H:%%M:%%S</string>
			<string>date</string>
			<string>imageMO</string>
			<string>valueForKeyPath:</string>
			<string>series.date</string>
		</array>
	</array>
	<array>
		<array>
			<string>masc.=+%%1.3f</string>
			<string>floatValue</string>
			<string>DCMPix</string>
			<string>NumberMaskTime</string>
			<string></string>
		</array>
	</array>
	<array>
		<array>
			<string>imag.=+%%1.3f</string>
			<string>floatValue</string>
			<string>DCMPix</string>
			<string>NumberFrameTime</string>
			<string></string>
		</array>
	</array>
	<array>
		<array>
			<string>rot:%%1.1f</string>
			<string>floatValue</string>
			<string>DCMPix</string>
			<string>positionerPrimaryAngle</string>
			<string></string>
		</array>
	</array>
	<string>CEDIVA URUGUAY</string>
	<array>
		<array>
			<string>%%Y-%%m-%%d</string>
			<string>date</string>
			<string>imageMO</string>
			<string>valueForKeyPath:</string>
			<string>series.study.date</string>
		</array>
	</array>
	<array>
		<array>
			<string>%%H:%%M:%%S</string>
			<string>date</string>
			<string>imageMO</string>
			<string>valueForKeyPath:</string>
			<string>series.study.date</string>
		</array>
	</array>
	<array/>
	<array>
		<array>
			<string>ang:%%1.1f</string>
			<string>floatValue</string>
			<string>DCMPix</string>
			<string>positionerSecondaryAngle</string>
			<string></string>
		</array>
	</array>
	<array>
		<array>
			<string>serie %%d</string>
			<string>intValue</string>
			<string>imageMO</string>
			<string>valueForKeyPath:</string>
			<string>series.id</string>
		</array>
	</array>
	<array>
		<array>
			<string>[1-%%d]</string>
			<string>intValue</string>
			<string>view</string>
			<string>pixCount</string>
			<string></string>
		</array>
	</array>
	<array>
		<array>
			<string>masc.# %%d</string>
			<string>intValue</string>
			<string>DCMPix</string>
			<string>NumberCurMask</string>
			<string></string>
		</array>
	</array>
	<array>
		<array>
			<string>imag.# %%d</string>
			<string>intValue</string>
			<string>view</string>
			<string>image</string>
			<string></string>
		</array>
	</array>
	<array>
		<array>
			<string>%%@</string>
			<string>string</string>
			<string>imageMO</string>
			<string>valueForKeyPath:</string>
			<string>series.comment</string>
		</array>
	</array>
</array>
</plist>
