body {
	font: 12px "Lucida Grande";
}

#plugin_icon {
	float: none;
	margin-right: 20px;
	position: fixed;
	z-index: -1;
	top: -15px;
	left: -30px;
	opacity: 0.75;
}

#LIU_logo1 {
	margin-right: 20px;
	position: fixed;
	z-index: -1;
	top: -10px;
	right: -40px;
	opacity: 0.2;
}

#LIU_logo {
	position: absolute;
	z-index: -1;
	top: 10px;
	right: 10px;
	opacity: 0.3;
}

h1 {
	margin-left: 20px;
	margin-top: 40px;
}

.text {
	margin: 5px 20px 5px 20px;
}

.title {
	font-weight: bold;
}

#screenshot {
	text-align: center;
}

.footnoteLink {
	margin: 2px;
	font-size: 10px;
	text-decoration: none;
}

.footnote {
	font-size: 10px;
}